<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="robots" content="noindex,nofollow"/>

        <script type="text/x-template" id="paste-controls-template">
            <div class="paste-controls unselectable">
                <h1><a href="https://github.com/jonathanj/Codetip">codetip</a></h1>
                <button class="js-savePaste" title="Save paste" data-shortcut="ctrl+s"><i class="icon-save" /></button>
                <button class="js-newPaste" title="New paste" data-shortcut="ctrl+n"><i class="icon-pencil" /></button>
                <button class="js-rawPaste" title="Plain text" data-shortcut="ctrl+r"><i class="icon-file" /></button>
            </div>
        </script>

        <script type="text/x-template" id="new-paste-template">
            <div class="new-paste">
                <div class="textarea-hax">
                    <textarea class="mousetrap" spellcheck="false" placeholder="Paste your text here"></textarea>
                </div>
            </div>
        </script>

        <script type="text/x-template" id="paste-template">
            <div class="paste">
                <div class="line-numbers">
                    <pre class="syntax-highlight"><%= highlightedContent %></pre>
                </div>
            </div>
        </script>

        <link rel="apple-touch-icon" href="/static/images/codetip-touch.png" />
        <link rel="icon" href="/static/images/codetip.ico" sizes="16x16 32x32 48x48" type="image/vnd.microsoft.icon" />
        <link rel="icon" href="/static/images/codetip.svg" sizes="any" type="image/svg+xml" />
        <link rel="stylesheet" href="/static/css/codetip.min.css">
        <title>codetip</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="text/javascript" src="/static/js/codetip.min.js"></script>
    </body>
</html>
